@import 'variables'

//Main
*
  box-sizing: border-box

body
  margin: 0
  padding: 0
  text-align: center
  font-family: $font-family--primary
  font-weight: 300
  color: #111
  background: #edeff0
  background-image: url(../svgs/background.svg)

#container
  max-width: 960px
  background: #fff
  margin: 0 auto
  height: 100% /* new line */

p
  max-width: 350px
  margin: 35px auto 0
  line-height: 2em
  text-align: left

a
  text-decoration: none
  color: #39add1
  font-weight: 700

a:hover
  color: #111

header nav
  svg
    vertical-align: top
    width: 18px
  ul
    list-style-type: none
    margin: 0
    padding: 0 !important
    list-style-type: none
  li
    padding-top: 20px


main
  padding-top: 50px

main h2
  font-size: 28px

footer
  width: 100%
  margin-top: 100px
  padding-bottom: 30px
  color: #ba8058

ul#doglist
  padding: 0 !important
  list-style-type: none
  li
    display: block
    margin: 0 auto
  figure
    margin: 0
  figcaption
    padding-right: 40px
  svg
    width: 150px
  li
    &:nth-of-type(1)
      color: #B8805E
    &:nth-of-type(2)
      color: #E8AB85
    &:nth-of-type(3)
      color: #824C2D
    &:nth-of-type(4)
      color: #52595E


div.logo-container
  h1
    text-align: center
    color: #E9AB82
    margin-bottom: 0

div.logo
  width: 50%
  margin: 0 auto
  svg
    g.headding
      display: none

// animations
div.logo
  .st2, .st1
    opacity: 0

body.loaded div.logo
  .st0, .st1, .st2
    animation: unhide 1s forwards
  .st1
    @for $i from 1 through 20
      &:nth-child(#{$i})
        animation-delay: ($i*120ms)
  .st2
    @for $i from 1 through 4
      &:nth-child(#{$i})
        animation-delay: ($i*250ms)




//keyframes
@keyframes unhide
  from
    opacity: 0
  to
    opacity: 1

@keyframes rotate360
  from
    transform: rotateY(0deg)
  to
    transform: rotateY(360deg)





// media queries
@media(min-width:425px)
  #container
    margin: 20px auto

  div.logo-container
    h1
      display: none
    svg g.headding
      display: block
    div.logo
      width: 140px


  ul#doglist
    li
      display: inline-block
      margin: 0 auto
    li + li
      margin-left: 45px
    figure
      margin: 0
    svg
      width: 150px

  body.loaded svg.corgi
    animation: rotate360 5s linear infinite
    transform-origin: 50% 50%

  header nav
    margin-left: 60px
    text-align: left
    padding-bottom: 50px
    padding-top: 10px
    li
      margin-right: 20px
      display: inline-block



