* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #111111;
  background: #EDEFF0;
  background-image: url(../svg/background.svg); }

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; }

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left; }

a {
  text-decoration: none;
  color: #39ADD1;
  font-weight: 700; }
  a:hover {
    color: #111111; }

header nav svg {
  vertical-align: top;
  width: 18px; }

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 !important;
  list-style-type: none; }

header nav li {
  padding-top: 20px; }

header nav a:hover {
  transition: color 750ms; }

main {
  padding-top: 50px; }
  main h2 {
    font-size: 28px; }

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #BA8058; }

ul#doglist {
  padding: 0 !important;
  list-style-type: none; }
  ul#doglist li {
    display: block;
    margin: 0 auto; }
  ul#doglist figure {
    margin: 0; }
  ul#doglist figcaption {
    padding-right: 40px; }
  ul#doglist svg {
    width: 150px; }
  ul#doglist li:nth-of-type(1) {
    color: #B8805E; }
  ul#doglist li:nth-of-type(2) {
    color: #E8AB85; }
  ul#doglist li:nth-of-type(3) {
    color: #824C2D; }
  ul#doglist li:nth-of-type(4) {
    color: #52595E; }

div.logo-container h1 {
  text-align: center;
  color: #E9AB82;
  margin-bottom: 0; }

div.logo {
  width: 50%;
  margin: 0 auto; }
  div.logo svg g.headding {
    display: none; }

div.logo:hover .st2 {
  transition: fill 1s;
  fill: #111; }

div.logo .st2, div.logo .st1 {
  opacity: 0; }

body.loaded div.logo .st0, body.loaded div.logo .st1, body.loaded div.logo .st2 {
  -webkit-animation: show 1s forwards;
          animation: show 1s forwards; }

body.loaded div.logo .st1:nth-child(1) {
  -webkit-animation-delay: 120ms;
          animation-delay: 120ms; }

body.loaded div.logo .st1:nth-child(2) {
  -webkit-animation-delay: 240ms;
          animation-delay: 240ms; }

body.loaded div.logo .st1:nth-child(3) {
  -webkit-animation-delay: 360ms;
          animation-delay: 360ms; }

body.loaded div.logo .st1:nth-child(4) {
  -webkit-animation-delay: 480ms;
          animation-delay: 480ms; }

body.loaded div.logo .st1:nth-child(5) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms; }

body.loaded div.logo .st1:nth-child(6) {
  -webkit-animation-delay: 720ms;
          animation-delay: 720ms; }

body.loaded div.logo .st1:nth-child(7) {
  -webkit-animation-delay: 840ms;
          animation-delay: 840ms; }

body.loaded div.logo .st1:nth-child(8) {
  -webkit-animation-delay: 960ms;
          animation-delay: 960ms; }

body.loaded div.logo .st1:nth-child(9) {
  -webkit-animation-delay: 1080ms;
          animation-delay: 1080ms; }

body.loaded div.logo .st1:nth-child(10) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms; }

body.loaded div.logo .st1:nth-child(11) {
  -webkit-animation-delay: 1320ms;
          animation-delay: 1320ms; }

body.loaded div.logo .st1:nth-child(12) {
  -webkit-animation-delay: 1440ms;
          animation-delay: 1440ms; }

body.loaded div.logo .st1:nth-child(13) {
  -webkit-animation-delay: 1560ms;
          animation-delay: 1560ms; }

body.loaded div.logo .st1:nth-child(14) {
  -webkit-animation-delay: 1680ms;
          animation-delay: 1680ms; }

body.loaded div.logo .st1:nth-child(15) {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms; }

body.loaded div.logo .st1:nth-child(16) {
  -webkit-animation-delay: 1920ms;
          animation-delay: 1920ms; }

body.loaded div.logo .st1:nth-child(17) {
  -webkit-animation-delay: 2040ms;
          animation-delay: 2040ms; }

body.loaded div.logo .st1:nth-child(18) {
  -webkit-animation-delay: 2160ms;
          animation-delay: 2160ms; }

body.loaded div.logo .st1:nth-child(19) {
  -webkit-animation-delay: 2280ms;
          animation-delay: 2280ms; }

body.loaded div.logo .st1:nth-child(20) {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms; }

body.loaded div.logo .st2:nth-child(1) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms; }

body.loaded div.logo .st2:nth-child(2) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms; }

body.loaded div.logo .st2:nth-child(3) {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms; }

body.loaded div.logo .st2:nth-child(4) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms; }

@-webkit-keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg); } }

@keyframes rotate360 {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg); } }

@media (min-width: 425px) {
  #container {
    margin: 20px auto; }
  div.logo-container h1 {
    display: none; }
  div.logo-container svg g.headding {
    display: block; }
  div.logo-container div.logo {
    width: 140px; }
  ul#doglist li {
    display: inline-block;
    margin: 0 auto; }
  ul#doglist li + li {
    margin-left: 45px; }
  ul#doglist figure {
    margin: 0; }
  ul#doglist svg {
    width: 150px; }
  body.loaded svg.corgi {
    -webkit-animation: rotate360 5s linear infinite;
            animation: rotate360 5s linear infinite;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%; }
  header nav {
    margin-left: 60px;
    text-align: left;
    padding-bottom: 50px;
    padding-top: 10px; }
    header nav li {
      margin-right: 20px;
      display: inline-block; } }
