doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Pembroke Welsh Corgis
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/styles.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:700,300', rel='stylesheet', type='text/css')
    include _favicon
  body
    div(style="display:none")
      include svgs/corgi.svg
    div#container.clearfix
      header
        nav
          ul
            li
              include svgs/nav-heart.svg
              a Home
            li
              include svgs/nav-location.svg
              a Visit Us
            li
              include svgs/nav-contact.svg
              a Contact
        div.logo-container
          h1 Paw Print Kennels
          div.logo
            include svgs/logo.svg
        h1 Pembroke Welsh Corgi
        P Lorem ipsum dolor sit amet spike house train litter vaccination swimming purr kitten wet nose bird food. Puppy carrier purr whiskers fur litter licks wagging vitamins foot good boy Rover swimming.
      main
        h2 Coat Colors
        table
          tr
            td
              svg
                use(xlink:href="#corgi")
            td
              svg
                use(xlink:href="#corgi")
            td
              svg
                use(xlink:href="#corgi")
            td
              svg
                use(xlink:href="#corgi")

          tr
            td Sable
            td Fawn
            td Red
            td Stone
        P Lorem ipsum dolor sit amet spike house train litter vaccination swimming purr kitten wet nose bird food. Puppy carrier purr whiskers fur litter licks wagging vitamins foot good boy Rover swimming. Mouse swimming small animals run fast house train bird food fetch. Harness tabby kitten parakeet litter dragging food. Ball biscuit toy water dog vaccination finch dog house grooming throw furry feathers aquarium tail stripes. Cockatiel fetch field fetch brush tooth hamster bed kitty ferret gimme five stay dinnertime catch warm.
      footer Site by Corgi Fan, 2015.